@font-face {
  font-family: "Poppins Bold";
  src: url("https://storage.googleapis.com/adp_assets/fonts/Poppins-Bold.ttf") format("truetype");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: normal;
  advance-override: 10;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("https://storage.googleapis.com/adp_assets/fonts/Poppins-Regular.ttf") format("truetype");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: normal;
  advance-override: 10;
  font-display: fallback;
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: url("https://storage.googleapis.com/adp_assets/fonts/Helvetica%20Neu%20Bold.ttf") format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "Helvetica Neue Regular";
  src: url("https://storage.googleapis.com/adp_assets/fonts/HelveticaNeue%20Light.ttf") format("truetype");
  font-display: fallback;
}
@font-face {
  font-family: "Helvetica Neue Medium";
  src: url("https://storage.googleapis.com/adp_assets/fonts/HelveticaNeue%20Medium.ttf") format("truetype");
  font-display: fallback;
}