body, p, div, a {
  font-family: Inter Regular !important;
}
.brand-nav-item {
  font-family: Inter Bold !important;
  font-size: 15px;
}
.container-header {
  background-color: #121212;
  border-radius: 0 0 38px 38px;
  box-shadow: 0 10px 12px rgba(172, 197, 27, 0.25);
  box-sizing: border-box;
  padding: 0 32px;
}
.container-header > a > img {
  height: 60px !important;
}
.search-container {
  height: 48px;
}
.container-header .search-div {
  margin-left: 80px;
}
.nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.nav-div {
  padding-right: 0;
}
.button {
  height: 44px;
}
.button svg {
  margin-right: 9px;
}
.section1-title {
  font-size: 64px !important;
  color: #121212;
  font-family: Inter Bold !important;
  line-height: 120% !important;
  text-align: left !important;
  margin: 0 !important;
  max-width: 670px;
}
.section1-subtitle {
  font-size: 30px !important;
  padding: 0 !important;
  text-align: left !important;
  color: #121212;
  margin-bottom: 30px !important;
}
.decoration-bar {
  display: block;
  margin-bottom: 25px;
  background-color: #BED630;
  width: 96px;
  height: 4px;
  border-radius: 4px;
}
.section1-top-hero {
  padding-top: 230px;
}
.hero {
  max-width: 1000px;
  margin-left: -210px;
  margin-top: 50px;
}
.service-section-button > a > button {
  white-space: nowrap;
  height: 60px;
  border-radius: 40px !important;
  font-size: 30px !important;
  padding: 0 10px !important;
  width: fit-content !important;
  margin-right: 24px;
  font-family: Inter Medium !important;
  border: none;
}
.Container {
  max-width: 1540px;
}
.service-section-container {
  padding: 0;
  box-shadow: none;

}
.service-card {
  background-color: #2E83C5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 12px 12px 12px rgba(172, 197, 27, 0.1);
  border-radius: 12px;
  padding: 32px;
  align-items: center;
}
.service-title {
  font-size: 19px;
  color: #fff;
  font-family: Inter SemiBold !important;
}
.service-section-wrapper {
  margin-top: 80px !important;
  margin-bottom: 123px !important;
}
.section-title {
  font-size: 48px !important;
  font-family: "Inter Bold" !important;
  padding: 0 !important;
  text-align: left !important;
  margin-bottom: 80px !important;
}
.card-customized-item {
  margin: 0;
  width: 100%;
}
.card-fix {
  max-width: none;
  border: 2px solid black;
  border-radius: 12px;
  height: 260px;
  padding: 32px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-customized-container-desktop {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
.card-fix img {
  width: auto;
  max-height: 98px;
  margin-top: 0;
}
.card-fix-title {
  font-size: 19px;
  color: #33333A;
  font-family: Inter SemiBold !important;
}
.cart-contentfix-container {
  margin-top: 80px;
  max-width: none !important;
}
.horzon-line, .vertical-line {
  display: none;
}
.content-fix .title {
  font-family: Inter SemiBold !important;
  font-size: 20px;
  letter-spacing: 0.3em;
  line-height: 30px !important;
  color: #33333A;
  max-width: 300px;
  margin-bottom: 16px;
}
.content-fix .content {
  color: #121212;
  font-size: 16px;
  max-width: 320px;
}
.section2-container {
  background-color: #FAFAFA;
  margin-top: -260px;
  padding-top: 242px;
  padding-bottom: 164px;
}
.sec3-container-parent {
  display: block;
  padding-top: 92px;
}
.section3-container .section3-title {
  text-align: center !important;
  margin-bottom: 65px !important;
}
.card-popular {
  box-shadow: none;
  border-radius: 10.37px;
  border: 2px solid black;
  padding: 25px;
  padding-top: 20px;
  height: 415px;
  justify-content: space-between;
}
.card-popular img {
  max-width: 210px;
  margin-top: 0;
}
.card-popular .title {
  text-align: center;
  font-size: 16px;
  margin: 0;
}
.card-popular .subtitle {
  margin: 0px auto;
  font-size: 16px;
}
.section-wave-wrapper {
  padding-top: 210px !important;
  max-width: 1540px !important;
}
.section-wave-main-title {
  padding-top: 0 !important;
  padding-bottom: 22px !important;
  font-size: 48px !important;
  font-family: Inter Bold !important;
  line-height: 58px !important;
  color: #33333A;
}
.wave-children {
  background-color: #FAFAFA;
  box-shadow: 12px 12px 12px rgba(43, 131, 197, 0.25);
  border-radius: 48px;
  padding: 48px !important;
  position: relative;
}
.section-wave-img {
  width: 140px !important;
  height: 140px;
}
.section-wave-subtitle {
  font-size: 19px !important;
  font-family: "Inter SemiBold" !important;
  color: #121212;
  line-height: 30px !important;
}
.section-wave-item {
  justify-content: space-between !important;
  height: 230px;
}
.section-wave-subContent {
  max-width: 250px;
}
.waveDecorationImg-up, .waveDecorationImg-down {
  position: absolute;
  z-index: -1;
}
.waveDecorationImg-up {
  top: -70px;
  right: 0;
}
.waveDecorationImg-down {
  bottom: -70px;
  left: 0;
}
.sec5-Back {
  display: block;
  background-color: #BED630;
  margin-top: -3px;
}
.decorationUpImg {
  margin-top: 300px;
  width: 100%;
}
.decorationDownImg {
  width: 100%;
}
.sec5-title {
  font-size: 48px !important;
  font-family: "Inter Bold" !important;
  margin-bottom: 24px !important;
}
.sec5-content {
  font-size: 24px !important;
  max-width: 740px;
  margin: auto !important;
}
.section5-img {
  margin-bottom: 48px !important;
}
.sec5-container .col_center > ul {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 48px;
  font-family: Inter Medium !important;
}
.protect-content {
  font-size: 24px !important;
  font-family: Inter Medium !important;
}
.sec5-button {
  margin-top: 48px;
}
.sec5-button .button {
  background-color: #fff !important;
  color: #BED630 !important;
  font-size: 24px !important;
  font-family: "Inter Medium" !important;
  height: 52px !important;
  border-radius: 52px !important;
  line-height: 150% !important;
}
.section-review-title {
  font-family: "Inter Bold" !important;
  font-size: 48px !important;
  padding: 20px 0 12px !important;
}
.sec5-decoration {
  margin: auto;
}
.section-review-content {
  font-size: 24px !important;
  color: black;
}
.section6-rating {
  color: #BED630 !important;
  margin-top: 80px;
  margin-bottom: 16px;
}
.sec6-subtitle {
  font-size: 16px !important;
  font-family: Inter Medium !important;
  color: #121212;
  line-height: 30px !important;
}
.sec6-subContent {
  font-size: 14px !important;
  color: #121212;
  line-height: 20px !important;
}
.sec6-card {
  padding-top: 16px;
  box-sizing: border-box; 
}
.card-why-customer {
  border: 2px solid #2E83C5;
  border-radius: 24px;
  padding: 32px;
  box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.why-card-rating {
  color: #BED630 !important;
}
.card-why-customer .rating {
  margin: 0;
}
.card-why-customer .score-div {
  align-items: center;
}
.card-why-customer p {
  font-size: 14px;
  margin: 0 !important;
}
.review-content {
  flex-direction: column;
  display: flex;
}
.review-content .content {
  order: 1;
  font-size: 16px;
}
.review-content .reviewer {
  font-size: 16px;
  font-family: Inter Medium !important;
}
footer {
  margin-top: 200px;
}
.footer-box {
  background-color: #121212;
  border-radius: 38px 38px 0 0;
  padding-top: 118px;
  color: #fff;
}
.logo-footer {
  height: 100px;
}
.location-container {
  display: none;
}
.footer-nav-items {
  display: flex;
}
.footer-loc-item {
  margin-top: 0 !important;
  font-family: Inter SemiBold !important;
  font-size: 14px;
}
.footer-loc-address > a{
  color: #fff !important;
  font-size: 14px;
}
.footerlinksContainer {
  margin-left: 200px !important;
}
.badge-container {
  right: 20px;
  left: unset !important;
}
.info-container {
  display: flex;
  margin-top: 50px;
}
.info-container > div {
  margin-right: 48px;
}
.info-value {
  font-family: Inter Bold !important;
  color: #F3F5F6;
  font-size: 14px;
  line-height: 23px;
}
.footer-other-images {
  height: fit-content !important;
  background-color: #fff;
  border: 1.4px solid #00000010;
  border-radius: 7px;
  width: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 7px;
  box-sizing: border-box;
}
.copyright {
  font-size: 14px;
  color: #949FAC !important;
  font-family: "Inter Bold" !important;
}
.section1-container {
  overflow-x: hidden !important;
}

/* 
  covid style
*/
.decoration-line {
  display: block;
  width: 96px;
  height: 4px;
  background-color: #BED630;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0 1px 2px #ACC51B, 0 1px 3px #ACC51B;
}
.covid-section1-container {
  padding-top: 216px !important;
}
.covid-main-title {
  font-size: 64px !important;
  margin-top: 27px;
  margin-bottom: 0px !important;
  line-height: 120%;
}
.covid-main-content {
  font-size: 30px !important;
  max-width: 660px;
}
.covid-section-button > a > .button {
  margin-right: 0;
}
.covid-shape {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 0 0 38px 38px;
  box-sizing: border-box;
  height: 650px;
}
.covid-back {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 650px;
  background: rgba(249, 249, 249, 0.65);
}
.covid-page-container .covid-section2-wrapper {
  margin-top: 230px !important;
}
.service-widget-card {
  background-color: #FAFAFA;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
}
.covid-widget-card-main-title {
  font-size: 48px !important;
  font-family: Inter Medium !important;
  margin-bottom: 45px !important;
}
.covid-section2 {
  max-width: 1060px;
  width: 100% !important;
  margin: auto !important;
}
.covid-vertical {
  display: block;
  width: 48px;
  height: 4px;
  background-color: #BED630;
  margin-bottom: 11px;
}
.covid-card-item {
  display: block !important;
}
.covid-card-item > div {
  margin-left: 0 !important;
}
.covid-sub-title {
  font-size: 20px !important;
  color: #2E83C5;
  line-height: 150% !important;
}
.covid-item-text {
  font-size: 20px !important;
  max-width: 1000px;
  margin: 20px auto !important;
}
.covid-section2-container {
  margin-bottom: 0 !important;
}

/* Location page style */
.location-container * {
  font-family: Inter Regular !important;
}
.location-waveBg img {
  min-width: unset !important;
  width: 100%;
}
.lcoation-bg-container {
  max-width: 1440px;
  margin-left: auto;
  display: flex;
  margin-top: 130px;
  margin-right: auto;
  padding: 0 20px;
}
.marnics-location-main-title {
  text-align: center;
  width: 100% !important;
  font-size: 64px !important;
  font-family: Inter Bold !important;
  line-height: 120% !important;
  margin-top: 0;
  margin-bottom: 18px;
}
.location-decoration-bar {
  width: 96px;
  height: 4px;
  background-color: #BED630 !important;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 2px #ACC51B, 0px 1px 3px #ACC51B;
  border-radius: 4px;
}
.marnics-location-main-content {
  text-align: center;
  font-size: 30px !important;
  line-height: 150% !important;
  color: #121212 !important;
  font-family: Inter Regular !important;
  width: 100% !important;
  max-width: 660px;
  margin: 0 auto !important;
}
.quote-button {
  margin: 20px auto !important;
}
.quote-button .button {
  width: 220px !important;
  font-size: 30px !important;
  border: none !important;
  height: 60px !important;
  border-radius: 60px !important;
}
.location-container {
  padding-top: 292px !important;
}
.marnics-location-container {
  padding-top: 134px !important;
}
.location-name {
  display: none;
}
.marnics-location-item {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05) !important;
  border-radius: 38px !important;
  background-color: #FAFAFA;
}
.marnics-location-item img {
  border-radius: 38px 38px 0 0;
  height: 220px;
}
.location-card-content {
  padding: 24px !important;
}
.location-card-content .location-card-title {
  font-family: Inter Bold !important;
}
.location-card-content .location-card-add {
  font-family: Inter Medium !important;
  font-size: 24px;
  color: #1B6BA9;
  text-transform: uppercase;
  margin-bottom: 20px;
  max-width: 250px;
}
.location-button-container {
  display: block !important;
}
.location-button-container .button {
  height: 43px !important;
  width: 155px !important;
  border-radius: 43px !important;
  font-size: 18px !important;
  font-family: Inter Medium !important;
  border: none !important;
}
.hourview-cardtext {
  font-size: 18px !important;
  color: #121212 !important;
}
.load-more-button {
  font-size: 24px;
  font-family: Inter Medium !important;
  cursor: pointer;
  height: 52px;
  width: 175px;
  border-radius: 52px;
  border: 1px solid #52525B;
  line-height: 52px;
  text-align: center;
  margin: auto;
  margin-top: 80px;
  display: block;
}
.locations-item-container {
  padding: 10px !important;
}
.location-wave-bg-mobile {
  display: none;
}
/* Business page style */
.business-container {
  padding: 90px 0 0 !important;
  max-width: 100% !important;
}
.business-top-section {
  position: relative;
  padding-bottom: 85px;
  padding-top: 126px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 38px 38px;
  background-repeat: no-repeat;
  background-size: cover;
}
.business-backdrop {
  position: absolute;
  top: 0;
  background-color: #2E83C590;
  width: 100%;
  display: block;
  height: 100%;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 38px 38px;
}
.business-main-title {
  font-family: Inter Bold !important;
  font-size: 64px !important;
  color: white !important;
  margin: 25px 0 10px !important;
  line-height: 120% !important;
}
.business-top-content {
  position: relative;
}
.business-main-content {
  color: white !important;
  font-size: 30px !important;
  line-height: 150% !important;
  width: 100% !important;
  max-width: 660px;
}
.business-top-content .button {
  font-size: 30px !important;
  height: 60px !important;
  font-family: Inter Medium !important;
  width: 300px !important;
  border-radius: 45px !important;
  border: none !important;
}
.business-card-container {
  margin-top: 70px !important;
}
.business-card {
  background-color: #FAFAFA;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  border-radius: 38px;
}
.business-card-title {
  font-size: 20px;
  font-family: Inter SemiBold !important;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 30px;
}
.business-card .business-card-subtitle {
  font-size: 48px !important;
  font-family: Inter Bold !important;
  line-height: 117.5% !important;
  color: #121212 !important;
}
.business-card-text {
  border: none !important;
  color: #121212;
  font-size: 22px;
  font-family: Inter Medium !important;
  margin-left: 0 !important;
}
.business-svgcontainer {
  height: 106px !important;
  width: 106px !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.business-item-card {
  align-items: center;
}
.business-card-item-text {
  font-size: 22px !important;
  color: #121212;
  font-family: Inter Medium !important;
}
/* Repair page */
.service-section1-special-bg {
  padding-top: 120px;
}
.repair-section1-container {
  box-sizing: border-box;
  padding: 194px 30px 0;
}
.service-section1 .decoration-bar {
  background-color: #BED630 !important;
}
.service-section-title-1 {
  font-size: 64px !important;
  font-family: Inter Bold !important;
}
.service-section-content {
  font-size: 30px !important;
  font-family: Inter Regular !important;
  line-height: 150% !important;
  margin-bottom: 18.5px !important;
}
.service-section-button .button {
  font-size: 30px !important;
  font-family: Inter Medium !important;
  height: 60px;
  width: 220px !important;
  border-radius: 60px !important;
}
.repair-section1-content, .service-section1 {
  position: relative;
}
.repair-section1-decoration {
  display: block;
  position: absolute;
  top: -25px;
  right: 0;
  height: 530px;
}
.repair-section1-img {
  margin-left: -110px;
}
.service-section2-text-field {
  background-color: #FAFAFA;
  border-radius: 38px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  padding: 55px 80px;
  box-sizing: border-box;
}
.service-section-subtitle {
  font-size: 20px !important;
  text-transform: uppercase;
  color: #121212;
  font-family: Inter SemiBold !important;
  line-height: 30px !important;
  letter-spacing: 0.3em !important;
  text-align: center;
}
.service-section2-text-field .service-section-title-1 {
  color: #121212;
  font-family: Inter Bold !important;
  font-size: 48px !important;
  line-height: 117.5% !important;
  text-align: center;
  margin-top: 5px !important;
  margin-bottom: 100px !important;
}
.repair-card {
  flex-direction: column;
  align-items: center;
}
.repair-card-img {
  width: 106px !important;
  height: 106px;
  margin-bottom: 16px;
}
.repair-content {
  text-align: center;
}
.repair-card-subtitle {
  font-size: 24px !important;
  margin-bottom: 20px !important;
}
.repair-card-content {
  font-size: 24px !important;
  max-width: 350px;
}
.service-section2 {
  padding: 0 30px;
  margin-top: 86px;
}

@media (max-width: 1300px) {
  .section1-title {
    font-size: 48px !important;
  }
  .hero {
    max-width: 820px;
  }
  .card-customized-container-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
  .footerlinksContainer {
    margin-left: 100px !important;
  }
  .location-container {
    padding-top: 210px !important;
  }
  .business-card-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .repair-section1-decoration {
    height: 450px;
  }
  .service-section-title-1 {
    font-size: 52px !important;
  }
  .service-section-content {
    font-size: 24px !important;
    max-width: 500px;
  }
}
@media (max-width: 1024px) {
  .footer-other-images img {
    height: 30px;
  }
  .covid-shape, .covid-shape img {
    height: 650px !important;
  }
  .location-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .service-section2-text-field {
    padding: 50px 20px;
  }
  .repair-section1-container {
    padding-top: 70px;
  }
  .service-section2 {
    margin-top: 140px;
  }
}
@media (max-width: 960px) {
  .section1-subtitle {
    font-size: 24px !important;
    margin-bottom: 25px !important;
  }
  .service-section-button > a > button {
    height: 52px;
    font-size: 24px !important;
  }
  .section1-top-hero {
    padding-top: 24px;
  }
  .section1-top {
    padding-bottom: 0 !important;
  }
  .hero {
    margin: 0;
  }
  .Container {
    padding: 0 48px;
  }
  .container-header .search-div, .waveDecorationImg-down, .waveDecorationImg-up {
    display: none;
  }
  .section2-container {
    margin-top: 0;
    padding-top: 90px;
  }
  .service-section-wrapper {
    margin-bottom: 70px !important;
  }
  .section-title {
    text-align: center !important;
  }
  .decorationUpImg {
    margin-top: 110px;
  }
  .marnics-location-container {
    padding-bottom: 0 !important;
  }
  .repair-section1-container {
    padding-top: 70px;
  }
  .service-section-title-1 {
    font-size: 48px !important;
  }
  .repair-section1-decoration {
    display: none;
  }
  .repair-section1-img {
    margin: auto !important;
    position: relative;
  }
  .repair-section1-img-container {
    position: relative;
  }
  .repair-section1-decoration-mobile {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
  .service-section-button .button {
    font-size: 24px !important;
    width: 182px !important;
    height: 52px !important;
  }
  .service-section2-text-field {
    padding-top: 55px;
    padding-bottom: 0;
  }
  .service-section2 {
    margin-top: 0;
  }
  .repair-card-content {
    margin: auto;
  }
  .repair-card {
    margin-bottom: 115px;
  }
}
@media (max-width: 768px) {
  .header-brand {
    display: none;
  }
  .container-header {
    margin-top: 0 !important;
    border-radius: 0 0 24px 24px;
  }
  .logo-header {
    display: none !important;
  }
  .logo-header-mobile {
    display: block;
    width: 50px;
  }
  .container-header .logo-header-mobile {
    height: 53px !important;
  }
  .container-mobile {
    display: none;
  }
  .avatar-div {
    margin-right: 0;
  }
  .snap-search {
    display: block;
    flex: 1;
    margin: 0 45px 0 20px;
  }
  .search-container {
    height: 36px;
  }
  .section1-top {
    padding-top: 170px !important;
  }
  .section1-subtitle {
    margin-top: 20px !important;
    max-width: 400px;
    margin-left: 0 !important;
  }
  .hero {
    width: 100%;
  }
  .section-title {
    font-size: 36px !important;
    text-align: left !important;
    margin-bottom: 24px !important;
  }
  .card-customized-item {
    max-width: none;
  }
  .cart-contentfix-container {
    margin-top: 24px;
  }
  .section2-container {
    padding-bottom: 60px;
  }
  .sec3-container-parent {
    padding-top: 70px;
  }
  .section3-container .section3-title {
    margin-bottom: 24px !important;
  }
  .wave-decoration {
    width: 48px;
    margin-bottom: 18px;
  }
  .section-wave-main-container .section-wave-main-title {
    font-size: 48px !important;
    text-align: left;
    max-width: 444px;
    padding-bottom: 43px !important;
  }
  .section-wave-main-container {
    margin-left: 0;
  }
  .section-wave-main-container .section-wave-button {
    justify-content: flex-start !important;
  }
  .wave-children {
    margin-top: 60px !important;
  }
  .wave-children .section-wave-subtitle {
    font-size: 19px !important;
  }
  .wave-children .section-wave-subContent {
    font-size: 16px !important;
    line-height: 30px !important;
    margin: auto;
  }
  .decorationUpImg {
    margin-top: 240px;
  }
  .section-review-content {
    max-width: 512px;
    margin: auto !important;
  }
  .section6-rating {
    margin-top: 46px;
  }
  .card-why-customer .score-div {
    margin-top: 0;
  }
  .card-why-customer {
    max-width: 493px;
  }
  footer {
    margin-top: 180px;
  }
  .footer-nav-items {
    flex-direction: column;
  }
  .footerlinksContainer {
    margin-left: 0 !important;
    margin-top: 24px !important;
  }
  .info-container {
    margin-top: 24px;
  }
  .footer-other-images {
    margin-bottom: 20px;
  }
  .copyright {
    margin-top: 70px;
  }
  .avatar-div img {
    width: 19px;
    height: 19px;
  }
  .drawer-container {
    background-color: #121212 !important;
  }
  .snap-drawer-logo {
    display: none;
  }
  .snap-item-div a {
    font-size: 18px !important;
    color: white !important;
  }
  /* covid page style */
  .covid-section1-container .covid-main-title {
    font-size: 48px !important;
  }
  .covid-section1-container .covid-main-content {
    font-size: 24px !important;
  }
  .covid-widget-card .covid-widget-card-main-title {
    font-size: 36px !important;
    margin-bottom: 50px !important;
  }
  .covid-card-item .covid-item-text {
    font-size: 18px !important;
    margin-top: 6px !important;
  }
  .covid-card-item {
    margin-bottom: 30px !important;
  }
  /* locations page */
  .location-container .marnics-location-main-title {
    font-size: 64px !important;
    line-height: 120% !important;
    margin-bottom: 18px !important;
  }
  .location-container {
    padding-top: 188px !important;
  }
  .location-container .marnics-location-main-content {
    font-size: 30px !important;
  }
  .marnics-location-container {
    padding-top: 180px !important;
  }
  .location-wave-bg {
    display: none;
  }
  .location-wave-bg-mobile {
    display: block;
  }
  /* Business page style */
  .business-container {
    padding-top: 45px !important;
  }
  .business-main-title {
    font-size: 48px !important;
  }
  .business-main-content {
    font-size: 24px !important;
    margin-bottom: 30px !important;
  }
  .business-top-content .button {
    font-size: 24px !important;
  }
  /* Repair page style */
  .service-section1-special-bg {
    padding-top: 65px;
  }
}
@media (max-width: 600px) {
  .footer-mobile-logo {
    display: none;
  }
  .snap-search {
    display: none;
  }
  .container-mobile {
    display: block;
  }
  .mobile-search-div {
    box-shadow: none;
  }
  .container-header {
    border-radius: 0;
    box-shadow: none;
    padding: 0 15px;
  }
  .mobile-search-div {
    top: 60px;
    background-color: #121212;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 10px 12px rgba(172, 197, 27, 0.25);
  }
  .mobile-child-search {
    width: 100%;
    margin: auto;
    padding-bottom: 8px;
  }
  .search-container {
    box-sizing: border-box;
  }
  .Container {
    padding: 0 20px;
  }
  .section1-top {
    padding-top: 140px !important;
  }
  .section1-title {
    font-size: 30px !important;
  }
  .section1-subtitle {
    font-size: 18px !important;
  }
  .section1-top .d-flex {
    flex-direction: column;
  }
  .service-section-button > a > button {
    height: 43px;
    margin-left: 0;
    margin-bottom: 13px;
    width: 145px !important;
    font-size: 18px !important;
  }
  .service-section-wrapper {
    margin-bottom: 14px !important;
  }
  .section2-container {
    padding-top: 23px;
  }
  .section-title {
    font-size: 30px !important;
  }
  .card-customized-container-desktop {
    grid-template-columns: repeat(1, 1fr);
  }
  .section3-container .section3-title {
    font-size: 30px !important;
    text-align: left !important;
  }
  .sec3-container-parent {
    padding-top: 22px;
  }
  .card-popular {
    margin-bottom: 30px;
  }
  .section-wave-wrapper {
    padding-top: 250px !important;
  }
  .section-wave-main-container .section-wave-main-title {
    font-size: 30px !important;
    line-height: 36px !important;
    padding-bottom: 17px !important;
  }
  .wave-children {
    margin-top: 35px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .section-wave-subContent {
    max-width: none;
  }
  .decorationUpImg {
    margin-top: 120px;
  }
  .sec5-title {
    font-size: 24px !important;
  }
  .sec5-content {
    font-size: 14px !important;
  }
  .protect-content {
    font-size: 20px !important;
  }
  .sec5-button .button {
    font-size: 18px !important;
  }
  .sec5-Back {
    padding-bottom: 50px;
  }
  .section-review-title {
    font-size: 30px !important;
  }
  .section-review-content {
    font-size: 14px !important;
  }
  .section6-rating {
    margin-top: 24px;
  }
  .card-why-customer {
    padding: 24px 12px;
  }
  .review-content .content {
    font-size: 14px;
  }
  .review-content .reviewer {
    font-size: 14px;
  }
  .space-between {
    margin-top: 12px;
  }
  .card-why-customer .score-div {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-why-customer .rating {
    margin-bottom: 20px;
  }
  .sec6-card {
    padding-top: 0px;
  }
  footer {
    margin-top: 78px;
  }
  .info-container {
    display: none;
  }
  .mobile-info-container {
    display: block;
    margin-top: 24px;
  }
  .info-value, .footer-loc-item, .footer-loc-address > a {
    font-size: 12px !important;
    line-height: 25px;
  }
  .footerlinksContainer ul {
    margin-top: 16px !important;
  }
  .footer-desktop-logo > div {
    margin-bottom: 120px;
  }
  .footer-box {
    padding-top: 60px;
  }
  /* covid page style */
  .covid-section1-container .covid-main-title {
    font-size: 30px !important;
  }
  .covid-section1-container .covid-main-content {
    font-size: 20px !important;
  }
  .covid-section-button > a > .button {
    width: 210px !important;
  }
  .covid-widget-card .covid-widget-card-main-title {
    font-size: 24px !important;
    margin-bottom: 22px !important;
  }
  .covid-sub-title {
    font-size: 18px !important;
  }
  .covid-card-item .covid-item-text {
    font-size: 16px !important;
  }
  .covid-item-text {
    font-size: 14px !important;
  }
  .covid-section1-container {
    padding-left: 20px !important;
    padding-top: 250px !important;
    padding-right: 20px !important;
  }
  .covid-section2-wrapper {
    padding: 0 20px !important;
  }
  .covid-widget-card {
    padding: 40px 10px !important;
  }
  /* location page */
  .location-card-content .location-card-add {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 0;
  }
  .location-button-container {
    display: flex !important;
  }
  .hourview-title {
    font-size: 16px !important;
  }
  .hourview-cardtext {
    font-size: 10px !important;
  }
  .location-button-container .button {
    font-size: 14px !important;
    height: 37px !important;
    width: 105px !important;
  }
  .location-container .marnics-location-main-title {
    font-size: 30px !important;
  }
  .location-container .marnics-location-main-content {
    font-size: 20px !important;
  }
  .quote-button .button {
    font-size: 20px !important;
    width: 157px !important;
    height: 46px !important;
  }
  .marnics-location-container {
    padding-top: 170px !important;
  }
  .location-container {
    padding-top: 220px !important;
  }

  /* Business page style */
  .business-main-title {
    font-size: 30px !important;
  }
  .business-main-content {
    font-size: 24px !important;
  }
  .business-top-content .button {
    font-size: 20px !important;
  }
  .business-card-title {
    font-size: 12px;
  }
  .business-card .business-card-subtitle {
    font-size: 24px !important;
  }
  .business-card-item-text {
    font-size: 18px !important;
  }

  /* Repair page style */
  .service-section1-special-bg {
    padding-top: 125px;
  }
  .repair-section1-container {
    padding-top: 44px;
  }
  .service-section1 .decoration-bar {
    margin-bottom: 18px;
  }
  .service-section-title-1 {
    font-size: 30px !important;
  }
  .service-section-content {
    font-size: 18px !important;
    max-width: 100%;
    margin-bottom: 30px !important;
  }
  .service-section-button .button {
    width: 145px !important;
    height: 43px !important;
    font-size: 18px !important;    
  }
  .repair-section1-decoration-mobile {
    height: 80%;
    top: 50px;
  }
  .service-section2 {
    padding: 0;
  }
  .service-section2-text-field {
    padding-top: 42px;
    border-radius: 0;
  }
  .service-section-subtitle {
    font-size: 12px !important;
  }
  .service-section2-text-field .service-section-title-1 {
    font-size: 24px !important;
  }
  .repair-card-subtitle {
    font-size: 20px !important;
    margin-bottom: 12px !important;
  }
  .repair-card-content {
    font-size: 16px !important;
  }
  .repair-card {
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .snap-badge {
    display: flex;
  }
  .snap-badge .badge-container {
    display: flex;
    position: inherit;
    margin: 24px auto;
  }
  .badge-container img {
    animation: none;
    margin-right: 0;
  }
  .covid-card-item .covid-sub-title {
    font-size: 18px !important;
  }
  .covid-widget-card .covid-item-text {
    font-size: 14px !important;
    box-sizing: border-box;
  }
  .location-container {
    padding-top: 170px !important;
  }
  .marnics-location-container {
    padding-top: 90px !important;
  }
  .business-card-container {
    padding-left: 0;
    padding-right: 0;
  }
  .business-card {
    box-shadow: none;
    border-radius: 0;
    background-color: #fff;
  }
}
@media (max-width: 425px) {
  .covid-section-button > a > .button {
    height: 60px !important;
  }
  .marnics-location-container {
    padding-top: 50px !important;
  }
}
@media (max-width: 375px) {
  .footer-desktop-logo > div {
    margin-bottom: 250px;
  }
  .location-wave-bg-mobile {
    height: 340px;
  }
}